<p class="get-post-id" value="{{post.id}}" display="none"></p>
<div class="container-home">
    <div class="container-posts">
        <div class="container-posts-title">
            <p>Blog Posts:</p>
        </div>
        <div class="post" data-postid="{{post.id}}" data-userid="{{post.user.id}}">
            <div class="post-author">
                By: {{post.user.username}}
            </div>
            <div class="post-title">
                <div>
                    {{post.post_title}}
                </div>
            </div>
            <div class="post-content">
                <div>
                    {{post.post_content}}
                </div>
            </div>
            <button class="button-comment">Add Comment</button>
            <form class="form-comment">
                <textarea class="text-comment"></textarea>
                <button type="submit" class="button-submit">Submit</button>
            </form>
            <div>Comments:</div>
            {{#each post.comments}}
            <div class="comment-username" id="{{id}}">-{{user.username}}</div>
            <div class="comment-content">
                <div>{{comment_content}}</div>
                </div>
            {{/each}}
            <div class="post-view">
                <button class="view-button"  value={{id}}>
                <a href="/">Exit Post</a></button>
            </div>
        </div>
    </div>
    
</div>
<script src="/javascript/home.js"></script>
<script src="/javascript/post-view.js"></script>