<p class="get-post-id" value="{{post.id}}" display="none"></p>
<div class="container-home">
    <div class="container-posts">
        <div class="container-posts-title">
            <p>Blog Posts:</p>
        </div>
        <div class="post">
            <div class="post-author">
                By: {{post.user.username}}
            </div>
            <div class="post-title">
                <div>
                    {{post.post_title}}
                </div>
            </div>
            <div class="post-content">
                <div>
                    {{post.post_content}}
                </div>
            </div>
            <div>Comments:</div>
            <button class="button-comment">Add Comment</button>
            <textarea class="text-comment"></textarea>
            {{#each post.comments}}
            <div class="comment-username">{{user.username}}</div>
            <div class="comment-content">{{comment_content}}</div>
            {{/each}}
            <div class="post-view">
                <button class="view-button"  value={{id}}>
                <a href="/{{post.id}}">Exit Post</a></button>
            </div>
        </div>
    </div>
    
</div>
<script src="/javascript/script.js"></script>