<h1>{{user.username}}</h1>
<script src="/javascript/home.js"></script>

<div class="container-home">
    <div class="container-posts">
        <button id="button-create-post">Create Post</button>
        <div class="container-create-post">
            <div>
                <label for="post-title">Title:</label>
                <input id="post-title" type="text"> 
            </div>
            <div class="container-post-content">
                <label for="post-content">Post Content:</label>
                <textarea id="post-content">

                </textarea>
            </div>
            <button id="button-submit-post">Submit</button>          
        </div>
        <div class="container-title">
            <p>Your Posts:</p>
        </div>
        {{#each user.posts}}
        <div class="post">
            <div class="post-title">
                <div>
                    {{post_title}}
                </div>
            </div>
            <div class="post-view">
                <button class="delete-button" id="delete-post" value="{{id}}">Delete</button>
                <button class="view-button" id="view-button-post" value="/post-view/{{id}}">
                View Post</button>
            </div>
        </div>
        {{/each}}
        <div class="container-title">
            <p>Your Comments:</p>
        </div>
        {{#each user.comments}}
        <div class="comment" id="comment_{{id}}">
            <div class="post-title">
                <div>
                    {{post.post_title}}
                </div>
            </div>
            <div class="comment-content">
                <div>
                    {{comment_content}}
                </div>
            </div>
            <div class="post-view">
                <button class="delete-button" id="delete-comment" value="{{id}}">Delete</button>
                <button class="view-button" id="view-button-comment" value="/post-view/{{post.id}}/#{{id}}">
                View Post</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script src="javascript/profile.js"></script>